nav {
    height:100%;
    width:100%;
    background-color: red;
    box-sizing: border-box;
    padding:1rem;

}

.nav-logo{
    height:100%;
    width:fit-content;

    img{
        height:100%;
        aspect-ratio: 197/81;
        object-fit: contain;

    }
}