.map-container{
    height: 100%;
    width: 100%;
}

// .popup-container{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }
.img-popup{
    height: 100px;
    width: 120px;
}

// .p-popup{
//     margin: 0;
//     padding: -10px;
//     width: 60%;
    
// }