.videoContainer {
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;

  .skullContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;

    .skullImg {
      width: 100%;
    }
  }

  .videoIntro {
    position: absolute;
    width: 100%;
    z-index: 10;
    margin-top: 240px;

    .pirateVid {
      width: 50%;
      border: none;
    }
  }
}

.fade-out{
  display:flex;
  animation: fadeOut 8s forwards;
  // display: none;
}

.hide{
  display:none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



