* {
    
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.navbar{
    height: 13vh;
    width:100vw;
}

.content{
    height: 87vh;
    width:100vw;
    background-color:white;
}




