* {
    
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "BackToTheFuture";
    src: url(../src/assets/fonts/BTTF.ttf) format("truetype");
  }


body{
    background-color: black;
    height:100vh;
    width:100vw;
}

.wrap-navbar{
    height: 13vh;
    width:100vw;
}

.blur{
    position:absolute;
    z-index:-1;
    width: 100vw;
    height: 87vh;
    flex-shrink: 0;
    border-radius: 1193px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #2E4B5B 0%, #000 100%);
    animation: fadeAnimation 5s infinite alternate;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrap-content{
    height: 87vh;
    width:100vw;
    overflow:hidden;
    display:flex;
    justify-content: center;
    /*A SUPPRIMER SI SA GENE ? */   
    font-family:'MS Gothic', sans-serif;
    position:relative;
}





