/* FONTS */
$font-size-title: 48px;
$font-size-h1 : 20px;
$font-size-h2 : 16px;
$font-size-h3 : 14px;
$font-size-h4 : 10px;

$color1 : white;
$color2 : black;


/* COLOR BACKGROUND */
$color-bg1 : black;
$color-bg2 : #C4A57C;
